







h1{
    text-align: center;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
    font-size: 50px;


}

h2{ font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    
}

h4{ font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    
}



h6{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    
}

.descriptionspace { 
    margin-bottom : 50px;
}
.description-1{
    padding-right : 100px;
    padding-left: 50px;
    line-height: 33px;
    margin: auto;
    margin-right: auto;
    text-align: justify;
    padding-bottom: 50px;
    margin-top: 15px;
    font-weight: bolder;
    word-spacing: 5px;
}
.description-map{
    margin-top: 30px;
    padding-right: 80px;
    padding-left: 30px;
    line-height: 33px;
    margin-right: 10px;
    text-align: justify;
    font-weight: bolder;
    word-spacing: 5px;
}

.description-2{
    padding-left: 20px;
    margin-right: 25px;
    line-height: 33px;
    margin-top: 30px;
    text-align: justify;
    padding-bottom: 30px;
    font-weight: bolder;
    word-spacing: 5px;
}

.description-3{
    width: 70%;
    padding-left: 25px;
    text-align: left;
    margin-left: 20px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bolder;
    word-spacing: 5px;
}


.container1{
    width: 90%;
    margin-top: 15px;
}

.container-map{
    width: 90%
}
.container2{
    width: 80%;
    margin-top: 15px;
}

.container3{
    width: 90%;
    margin-top: 15px;
}

.vega-bindings{
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    font-size: 14px;
    margin-top: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    white-space:normal;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 30px;
}

.page {
    width: 2100px;
    background-color: blanchedalmond;
    margin: auto;
    padding: 30px;
    padding-top: 20px;
}

.small-font1 {
    font-family: 'Roboto';
    font-size: 12px;
    padding-left: 50px;
    text-align: left;
}

.small-font2 {
    font-family: 'Roboto';
    font-size: 12px;
    margin-left: 50px;
    text-align: left;
}

.small-font3 {
    font-family: 'Roboto';
    font-size: 12px;
    padding-left: 25px;
    text-align: left;
}

.hr1{ 
    border: 0; 
    height: 10px;
    background-image: black;
    padding-top: 5px;
    color:black
}


